@{
    ViewData["Title"] = "Que Vadis?";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Quo Vadis?</h1>
      <p class="lead">please Reigster of Log in.</p>
    </div>
     <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
         <button type="button" class="btn btn-outline-info">
             <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">LogIn</a>
         </button>
         <button type="button" class="btn btn-outline-info">
             <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Register">Register</a>
         </button>
        </div>
        <div class="bd-example">
<center>
  <img data-src="https://http.cat/401" class="img-fluid"  style="height: 600px; width: 750px; display: block;" src="https://http.cat/401" data-holder-rendered="true">
</center>
</div>
</body>
</html>

