@model DBAccess.Models.UserLogin
@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1060.0" data-gr-ext-installed="">
    
<main class="form-signin w-100 m-auto">
  <form asp-controller="LoginApi" asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <label asp-for="username" for="floatingInput"></label>
      <input asp-for="username"  class="form-control" placeholder="name@example.com">
      <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <div class="form-floating">
      <label asp-for="password" for="floatingPassword"></label>
      <input asp-for="password" name="Password" type="text" class="form-control" value="@Model.password" placeholder="Password">
      <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">©2022</p>
  </form>
</main>


</body>
</html>

