@using DBAccess.Models

@model List<Character>
@{
    ViewData["Title"] = "Browse Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
<body class="text-center" data-new-gr-c-s-check-loaded="14.1060.0" data-gr-ext-installed="">


<ul class="list-group list-group-flush">
    
@foreach (var item in Model)
{
    <li class="list-group-item">

        <img class="rounded-circle" src=@item.imageLink alt="" width="70" height="70" align="left"> 
         @Html.DisplayFor(modelItem => item.firstName)    
          @Html.DisplayFor(modelItem => item.lastName)
         <a href="https://localhost:44342/characters/view/@item.characterId" class="button">ViewProfile</a>
    </li>
    
}

</ul>


</body>
</html>

